version: "3.9"

services:
  nginx:
    container_name: nginx
    image: nginx
    restart: always
    volumes:
      - ./nginx_conf/default.conf:/etc/nginx/conf.d/default.conf
      - ./nginx_conf/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "9000:80"

  web:
    build: .
    container_name: web
    command: >
      bash -c "
      until pg_isready -h db -p 5432; do
      echo 'Ожидаю Postgres...';
      sleep 1;
      done;
      echo 'Postgres доступен — выполняю миграции';
      poetry run python manage.py migrate &&
      gunicorn project_school.asgi:application
      --bind 0.0.0.0:8000
      --worker-class uvicorn.workers.UvicornWorker
      --workers 4"
    expose:
      - "8000"
    volumes:
      - ./src:/app/src
      - ./project_school:/app/project_school
    depends_on:
      - db
      - redis

  celery-worker:
    build: .
    container_name: celery_worker
    restart: always
    command: celery -A project_school.celery_app worker -l info --pool=solo
    volumes:
      - ./:/app
    depends_on:
      - db
      - redis
    environment:
      - CELERY_BROKER_URL=${CELERY_BROKER_URL_WORKER}
      - CELERY_RESULT_BACKEND=${CELERY_RESULT_BACKEND_WORKER}

  db:
    image: postgres:14-alpine
    container_name: db
    restart: always
    ports:
      - "${POSTGRES_PORT}:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data/

  redis:
    image: redis:7
    container_name: redis
    restart: always
    ports:
      - "6379:6379"

volumes:
  postgres_data:
