version: "3.9"

services:

  web:
    build: .
    container_name: django
    command: bash -c "sleep 3 && poetry run python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    ports:
      - "9000:8000"
    depends_on:
      - db
      - redis
    environment:
      - CELERY_BROKER_URL=${CELERY_BROKER_URL_WORKER}
      - CELERY_RESULT_BACKEND=${CELERY_RESULT_BACKEND_WORKER}

  celery-worker:
    build: .
    container_name: celery_worker
    command: celery -A project_school worker -l info --pool=solo
    volumes:
      - ./:/app
    depends_on:
      - db
      - redis
    environment:
      - CELERY_BROKER_URL=${CELERY_BROKER_URL_WORKER}
      - CELERY_RESULT_BACKEND=${CELERY_RESULT_BACKEND_WORKER}

  db:
    image: postgres:14-alpine
    container_name: db
    restart: always
    ports:
      - "${POSTGRES_PORT}:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data/

  redis:
    image: redis:7
    container_name: redis
    restart: always
    ports:
      - "6379:6379"

volumes:
  postgres_data:
